body {
  margin-left: 40% ;
  margin-top: 10%;
    background-color:#334257;
    color: white;
  }
  
  .button {
    background-color:#1fad5a;
    color: white;
    
  }
  .cell {
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .cell img {
    width: 25px;
    height: auto;
  }
  .floor {
    background-color: #C6B4CE;
  }
  .mine {
    background-color: brown;
  }
  .board {
    width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  }

  .board td {
    background-color: #C6B4CE;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: background-color 0.5s;
}


