* {
    box-sizing: border-box;
}

/* body {
  margin-left: 40% ;
    background-color:#8edd7f;
    color: white;
  } */

table {
  margin: 0 auto;
  border :3px solid black ;
  height: 550px;
  width: 500px;
  text-align: center;
  }

  .cell {
    height: 30px;
    width: 30px;
    background-color: white;
    border :3px solid black ;

  }

  
  